@using PmSystem.FrontEnd.Data;
@inject HttpHandleClient<CustomerCreateViewModel> httpHandle;
@inject NavigationManager NavigationManager

<h1>Customers Form</h1>
<EditForm Model="CustomerCreateViewModel" OnValidSubmit="SaveCustomer">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label class="form-label">Name</label>
        <InputText @bind-Value="@CustomerCreateViewModel.Name" />
        <ValidationMessage For="@(()=>CustomerCreateViewModel.Name)" />
    </div>
    <div class="mb-3">
        <label class="form-label">Phone</label>
        <InputText @bind-Value="@CustomerCreateViewModel.Phone" />
        <ValidationMessage For="@(()=>CustomerCreateViewModel.Phone)" />
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <InputText @bind-Value="@CustomerCreateViewModel.Email" />
        <ValidationMessage For="@(()=>CustomerCreateViewModel.Email)" />
    </div>
    <input type="submit" class="btn btn-primary" value="Save" />
</EditForm>

@code {
    [Parameter]
    public CustomerCreateViewModel CustomerCreateViewModel { get; set; }
    [Parameter]
    public bool IsCreateMode { get; set; }

    async Task SaveCustomer()
    {
        
        if (IsCreateMode)
        {
            await httpHandle.CreateAsync("customers", CustomerCreateViewModel);
        }
        else
        {
            await httpHandle.UpdateAsync("customers", CustomerCreateViewModel.Id, CustomerCreateViewModel);
        }

        NavigationManager.NavigateTo("/customers");
    }
}
