@using PmSystem.FrontEnd.Data;
@inject HttpHandleClient<CustomerCreateViewModel> httpHandle;
@inject NavigationManager NavigationManager

<h1>Customers Form</h1>
<EditForm model="CustomerCreateViewModel" OnValidSubmit="SaveCustomer">
    <div class="col-auto">
        <label>Name</label>
        <InputText @bind-Value="@CustomerCreateViewModel.Name" />
        <ValidationMessage For="@(()=>CustomerCreateViewModel.Name)" ValidateOnChange="true"/>
    </div>
    <div class="col-auto">
        <label>Phone</label>
        <InputText @bind-Value="@CustomerCreateViewModel.Phone" />
        <ValidationMessage For="@(()=>CustomerCreateViewModel.Phone)" ValidateOnChange="true"/>
    </div>
    <div class="col-auto">
        <label>Email</label>
        <InputText @bind-Value="@CustomerCreateViewModel.Email" />
        <ValidationMessage For="@(()=>CustomerCreateViewModel.Email)" ValidateOnChange="true" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <DataAnnotationsValidator />
</EditForm>

@code {
    [Parameter]
    public CustomerCreateViewModel CustomerCreateViewModel { get; set; }
    [Parameter]
    public bool IsCreateMode { get; set; }

    async Task SaveCustomer()
    {
        if (IsCreateMode)
        {
            await httpHandle.CreateAsync("customers", CustomerCreateViewModel);
        }
        else
        {
            await httpHandle.UpdateAsync("customers", CustomerCreateViewModel.Id, CustomerCreateViewModel);
        }

        NavigationManager.NavigateTo("/customers");
    }
}
