@page "/customer-item-form/{id?}"
@using PmSystem.FrontEnd.Data
@using PmSystem.FrontEnd.Pages.Components
@using PmSystem.FrontEnd.Pages.Components.Shared
@inject HttpHandleClient<CustomerItemViewModel> httpHandle;
@inject HttpHandleClient<CustomerCreateViewModel> httpCustomerHandle;
@inject HttpHandleClient<ProductCreateViewModel> httpProductHandle;
@inject NavigationManager NavigationManager;

<PageTitle>Customers Items Form</PageTitle>
<EditForm Model="CustomerItem" OnValidSubmit="SaveCustomerItem">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label class="form-label">Quantity</label>
        <InputNumber @bind-Value="@CustomerItem.Quantity" />
        <ValidationMessage For="@(()=>CustomerItem.Quantity)" />
    </div>
    <div class="mb-3">
        <div class="form-group">
            <label for="my-dropdown" class="form-label">Customers:</label>
            <InputSelect id="my-dropdown" class="form-control" @bind-Value="@CustomerItem.CustomerId">
                <option value="0" selected>Select Customer</option>
                @foreach (var customer in CustomersList)
                {
                    <option value="@customer.Id">@customer.Name</option>
                }
            </InputSelect>
            <ValidationMessage For="@(()=>CustomerItem.CustomerId)" />
        </div>
    </div>
    <div class="mb-3">
        <div class="form-group">
            <label for="my-dropdown" class="form-label">Products:</label>
            <InputSelect id="my-dropdown" class="form-control" @bind-Value="@CustomerItem.ProductId">
                <option value="0" selected>Select Product</option>
                @foreach (var product in ProductList)
                {
                    <option value="@product.Id">@product.Description</option>
                }
            </InputSelect>
            <ValidationMessage For="@(()=>CustomerItem.ProductId)" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
    [Parameter]
    public string Id { get; set; }

    bool IsCreateMode => string.IsNullOrEmpty(Id);

    [Parameter]
    public CustomerItemViewModel CustomerItem { get; set; } = new CustomerItemViewModel();

    public int id => Convert.ToInt32(Id);

    private IEnumerable<CustomerCreateViewModel> CustomersList { get; set; } = new List<CustomerCreateViewModel>();
    private IEnumerable<ProductCreateViewModel> ProductList { get; set; } = new List<ProductCreateViewModel>();

    protected async override Task OnInitializedAsync()
    {
        CustomersList = await httpCustomerHandle.GetAllAsync("customers");
        ProductList = await httpProductHandle.GetAllAsync("products");
    }

    protected async override Task OnParametersSetAsync()
    {
        if (!IsCreateMode)
        {
            CustomerItem = await httpHandle.GetByIdAsync("customeritems", id);
        }
    }

    async Task SaveCustomerItem()
    {
        if (IsCreateMode)
        {
            await httpHandle.CreateAsync("customeritems", CustomerItem);
        }
        else
        {
            await httpHandle.UpdateAsync("customeritems", CustomerItem.Id, CustomerItem);
        }

        NavigationManager.NavigateTo("/items-asoc");
    }
}