@page "/item-report"
@using PmSystem.FrontEnd.Data
@using PmSystem.FrontEnd.Pages.Components.Shared
@using System.Text;
@inject NavigationManager NavigationManager
@inject HttpHandleClient<CustomerItemListViewModel> httpCustomerItemHandle;
@inject IJSRuntime JSRuntime

<PageTitle>Products</PageTitle>

<h1>Products List</h1>
<div class="row">
    <div class="col">
        <EditForm Model="ItemId">
            <div class="col-auto">
                <label>Item Number:</label>
                <InputNumber @bind-Value="@ItemId" />
            </div>
            <button class="btn btn-primary" @onclick="GetItems">Search</button>
        </EditForm>
    </div>
</div>

@if (IsLoading)
{
    <h5>Loading...</h5>
}
else
{
    if (Items != null && Items.Count() > 0)
    {
        <div class="row">
            <div class="col">
                <button class="btn btn-primary float-end" @onclick="(()=>Export())">Generate</button>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Item Number</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Items)
                {
                    <tr>
                        <td>@item.CustomerName</td>
                        <td>@item.Id</td>
                        <td>@item.ProductName</td>
                        <td>@item.ProductPrice</td>
                        <td>@item.Quantity</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h5>No data!</h5>
    }
}

@code {
    [Parameter]
    public int ItemId { get; set; } = 0;

    public IEnumerable<CustomerItemListViewModel> Items { get; set; }

    public bool IsLoading { get; set; } = false;

    private async Task GetItems()
    {
        IsLoading = true;
        Items = await httpCustomerItemHandle.GetReportRecords("report", ItemId);
        IsLoading = false;
    }

    public async Task Export()
    {
        var writer = new StringBuilder();

        writer.AppendLine("SEP=,");
        writer.AppendLine("CustomerName,Id,ProductName,ProductPrice,Quantity");
        // Write data
        foreach (var item in Items)
        {
            var productName = item.ProductName;
            var productPrice = item.ProductPrice;
            var quantity = item.Quantity.ToString();
            var customerName = item.CustomerName;

            var line = $"{customerName},{item.Id},{productName},{productPrice},{quantity}";
            writer.AppendLine(line);
        }

        // Download CSV file
        var data = Encoding.UTF8.GetBytes(writer.ToString());
        var base64 = Convert.ToBase64String(data);
        var href = $"data:text/csv;base64,{base64}";

        await JSRuntime.InvokeVoidAsync("BlazorDownloadFile.downloadFile", "report", href);
    }
}